<wankar-header>
</wankar-header>
<!--<router-outlet></router-outlet>-->
<div class="container">
    <!--<section class="section">
      <h1>DASHBOARD</h1>      
    </section>-->
    <main>
        <div class="container" style="margin-top: 6%;">
            <section class="section">
                <div class="row">
                    <div class="col-lg-8">
                        <!--<div class="card mb-r">-->
                        <div class="card text-xs-center">
                            <div class="card-header">
                                <div class="card-block text-left">
                                    <div class="col-xs-12">
                                        <div class="animated fadeIn col-xs-10">
                                            <h4>Unidades de ESPAÑOL</h4>
                                            <h5>Nivel # 1</h5>
                                        </div>
                                        <div class="col-xs-2">
                                            <img src="../assets/img/flags/Spain.png" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-block">
                                <div class="md-form form-inline">
                                    <div class="card-block ">
                                        <div>
                                            <!--button class="btn btn-warning" [routerLink]="['/logeado/curso']">Introduccion</button-->
                                            <a [routerLink]="['/logeado/curso']" class="btn-floating btn-large red"><i
                      class="fa fa-star"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div>
                                            <!--button class="btn btn-deep-orange" [routerLink]="['/logeado/curso']">Saludos</button-->
                                            <a [routerLink]="['/logeado/curso']" class="btn-floating btn-large green"><i class="fa fa-user"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div>
                                            <!--button class="btn btn-success">Mercados</button-->
                                            <a class="btn-floating btn-large blue"><i class="fa fa-lock"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card mb-r">
                            <div class="card-block">
                                <div class="admin-panel info-admin-panel">

                                    <div class="card-block">
                                        <p><i class="fa fa-flag mr-1" aria-hidden="true"></i> Status: <strong>Principiante</strong></p>

                                        <p><i class="fa fa-eye mr-1" aria-hidden="true"></i> Estado: <strong>Online</strong></p>

                                        <p><i class="fa fa-archive mr-1 mr-1" aria-hidden="true"></i> Horas: <strong>2</strong></p>

                                        <p><i class="fa fa-calendar mr-1" aria-hidden="true"></i> Dias Cursantes: <strong>2</strong></p>

                                        <div class="text-center">
                                            <button class="btn btn-success">Ver Más</button>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="card contact-card with-padding">
                  <div class="card-block">
                      <div class="text-center">
                          <div>
                              {{mytoken}}
                          </div>
                          <h3>Proximamente</h3>
                      </div>
                  </div>
              </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </main>

</div>

<wankar-footer></wankar-footer>