<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel testimonial-carousel slide carousel-multi-item wow fadeIn" data-ride="carousel">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="controls">
                <a class="btn-floating btn-mini waves-effect waves-light red" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <!--First column-->
                    <div class="col-md-3">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/es.svg" class="rounded-circle img-fluid" height="50"
                                    width="50" >
                            </div>
                        </div>
                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-md-3 hidden-sm-down">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/us.svg" class="rounded-circle img-fluid" height="50"
                                    width="50">
                            </div>
                        </div>
                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-md-3 hidden-sm-down">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/fr.svg" class="rounded-circle img-fluid" height="50"
                                    width="50">
                            </div>
                        </div>
                    </div>
                    <!--/Third column-->

                    <!--Fourth column-->
                    <div class="col-md-3 hidden-sm-down">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/br.svg" class="rounded-circle img-fluid" height="50"
                                    width="50">
                            </div>
                        </div>
                    </div>
                    <!--/Fourth column-->
                </div>

                <div class="carousel-item">
                    <!--First column-->
                    <div class="col-md-3">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/es.svg" class="rounded-circle img-fluid" height="50"
                                    width="50">
                            </div>
                        </div>
                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-md-3 hidden-sm-down">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/us.svg" class="rounded-circle img-fluid" height="50"
                                    width="50">
                            </div>
                        </div>
                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-md-3 hidden-sm-down">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/fr.svg" class="rounded-circle img-fluid" height="50"
                                    width="50">
                            </div>
                        </div>
                    </div>
                    <!--/Third column-->

                    <!--Fourth column-->
                    <div class="col-md-3 hidden-sm-down">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/br.svg" class="rounded-circle img-fluid" height="50"
                                    width="50">
                            </div>
                        </div>
                    </div>
                    <!--/Fourth column-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="controls">
                <a class="btn-floating btn-mini waves-effect waves-light red" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>
            </div>
        </div>
    </div>
</div>